[submodule "aoc"]
	path = aoc
	url = git@github.com:contre95/aoc.git
[submodule "hackerrank"]
	path = hackerrank
	url = git@github.com:contre95/hackerrank.git
[submodule "protohackers"]
	path = protohackers
	url = git@github.com:contre95/protohackers.git
