[submodule "aoc"]
	path = aoc
	url = git@github.com:contre95/aoc.git
[submodule "hackerrank"]
	path = hackerrank
	url = git@github.com:contre95/hackerrank.git
[submodule "protohackers"]
	path = protohackers
	url = git@github.com:contre95/protohackers.git
[submodule "codeforces"]
	path = codeforces
	url = git@github.com:contre95/codeforces.git
[submodule "rustlings"]
	path = rustlings
	url = git@github.com:contre95/rustlings.git
[submodule "uba-algoritmos-ii"]
	path = uba-algoritmos-ii
	url = git@github.com:contre95/uba-algoritmos-ii.git
